---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "GFGxMGMU";
---

<style>
  p {
    font-family: "JetBrains Mono", monospace;
  }
</style>
<BaseLayout title={pageTitle}>
  <p class="code">def gfg(noob):</p>
  <p class="code" style="text-indent: 1em;">return pro</p>
</BaseLayout>
