---
import GitHub from "../assets/github.svg";
import Instagram from "../assets/instagram.svg";
import Linkedin from "../assets/linkedin.svg";
const socials = [
  { name: "GitHub", icon: GitHub, url: "https://github.com/GFGxMGMU" },
  {
    name: "Instagram",
    icon: Instagram,
    url: "https://www.instagram.com/gfgmgmu/",
  },
  {
    name: "Linkedin",
    icon: Linkedin,
    url: "https://in.linkedin.com/company/geeksforgeeks-jnec",
  },
];
---

<style>
  :root {
    --footer-txt: #1b1124;
    --font-size: 0.5rem;
  }
  .footer {
    margin: 0;
    width: 100vw;
    min-height: 15vh;
    height: max-content;
    display: flex;
    background-color: #00825db8;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2.5em;
    backdrop-filter: blur(4px);
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
  }
  .icon {
    height: var(--font-size);
    width: auto;
    fill: black;
    transition: 0.1s cubic-bezier(0.56, -0.03, 0.4, 1.97);
  }
  .icon:hover {
    transform: scale(1.2);
  }
  .icon:active {
    transform: scale(0.25);
  }
  ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }
  li {
    list-style: none;
  }
  a {
    height: calc(var(--font-size) + 0.3rem);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
  }
  .divider {
    width: 0.02rem;
    height: calc(var(--font-size) + 0.5rem);
    background-color: var(--footer-txt);
    border-radius: 100rem;
  }
  .cr {
    font-size: var(--font-size);
    color: var(--footer-txt);
    flex: 0 1 auto;
  }
  .icons {
    flex-basis: 1;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 1rem;
  }
</style>
<div class="footer">
  <div class="container">
    <div class="cr">©GFGxMGMU 2023</div>
    <div class="divider"></div>
    <div class="icons">
      {
        socials.map((social) => (
          <a href={social.url}>
            <img class="icon" src={social.icon} />
          </a>
        ))
      }
    </div>
  </div>
</div>
