---
---

<style>
  .navbar {
    display: flex;
    width: 70%;
    height: 10vh;
    background-color: #16c15584;
    color: #c7c7c7;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 5vh;
    left: 50%;
    border-radius: 10rem;
    transform: translate(-50%);
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
  }
</style>

<div class="navbar">navbar here</div>