---
const { title } = Astro.props;
import '../styles/global.css'
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      h1,
      .code {
        font-family: "JetBrains Mono", monospace;
      }
      p {
        line-height: 1em;
      }
      html,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
      }
      main {
        display: flex;
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
        color: #eec766;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <main>
      <div>
        <slot />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
