---
const { title } = Astro.props;
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      h1,
      .code {
        font-family: "JetBrains Mono", monospace;
      }
      p {
        line-height: 1em;
      }
      body {
        color: #f6edd9;
        margin: 0 auto;
      }
      footer {
        margin-top: auto;
        bottom: 0;
        scroll-snap-align: center;
      }
      section {
        width: 100%;
        margin: 0;
      }
      main {
        width: 75%;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"
      is:inline></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
      is:inline></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"
      is:inline></script>
  </head>
  <body x-data>
    <Navbar />
    <slot />
    <footer>
      <Footer />
    </footer>
    <script>
    </script>
  </body>
</html>
